body {
    margin: 0px;
    margin-top: 2px;
    font-family: Roboto, Arial;
}

.header {
    background-color: white;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(228,228,228);
}

.left-section {
    display: flex;
    align-items: center;
}

.menu {
    height: 24px;
    margin-left: 24px;
    margin-right: 10px;
}

.fb, .twitter, .ig {
    height: 20px;
    margin-left: 10px;
}

.headtext {
    margin-left: 20px;
    font-family: Roboto, Arial;
    font-weight: 800;
}


.sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 72px;
    z-index: 200;
    padding-top: 5px;
}

.sidebar-link {
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 4px;
    cursor: pointer;
}

.sidebar-link:hover {
    background-color: rgb(235,235,235);
}

.sidebar-link img {
    height: 24px;
}

.sidebar-link div {
    font-family: Roboto, Arial;
    font-size: 10px;
}

.home {
    margin-top: 70px;
    margin-left: 80px;
    display: flex;
    font-size: 15px;
}

.myphoto {
    max-width: 90px;
    max-height: 90px;
    border-radius: 55px;
    margin-right: 20px;
}


.autobio {
    font-size: 15px;
    margin-left: 80px;
}

.proj {
    font-size: 15px;
    margin-left: 80px;
}


.ss {
    width: 100%;
}

.proj-title {

    font-size: 20px;
    font-weight: 500;
}

.time {
    font-size: 16px;
    color: rgb(96,96,96);
}

.proj-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}